Firstly, we need to import all necessary libraries.

#Necessary imports

In [180]:
import pandas as pd
import numpy as np
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import shapiro
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from  sklearn.model_selection import GridSearchCV 
from sklearn.impute import SimpleImputer

Then, we load the file

In [181]:
df = pd.read_csv("creditCard.csv")
labels  = pd.read_csv("creditCardLabel.csv")

And check the first 5 rows

In [182]:
df.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2

We can already see that the 1st row will cause trouble for our models, that's why we can proceed with deletion

In [183]:
df_transformation = df.copy()
df_transformation.drop(df.iloc[0].name, inplace=True)

Let's investigate unique values of each columns to see if there is any irrelevant information

In [184]:
for i in df.columns:
    for column in df.columns:
        unique_values = df[column].unique()
        print(f"Unique values for column '{column}': {unique_values}")

Unique values for column 'Ind_ID': [5008827 5009744 5009746 ... 5115992 5118219 5053790]
Unique values for column 'GENDER': ['M' 'F' nan]
Unique values for column 'Car_Owner': ['Y' 'N']
Unique values for column 'Propert_Owner': ['Y' 'N']
Unique values for column 'CHILDREN': [ 0  1  2  4  3 14]
Unique values for column 'Annual_income': [ 180000.   315000.        nan  450000.    90000.   472500.   270000.
  126000.   202500.   157500.   112500.   540000.   292500.   135000.
   76500.   215100.   225000.    67500.   171000.   103500.    99000.
  391500.    65250.    72900.   360000.   256500.   675000.   247500.
   85500.   121500.   130500.   211500.    81000.    72000.   148500.
  162000.   195750.   585000.   216000.   306000.   108000.    63000.
   45000.   337500.   131400.   117000.   445500.   234000.  1575000.
  144000.    67050.    73350.   193500.   900000.    94500.   198000.
   54000.   166500.   167400.   153000.   423000.   243000.   283500.
  252000.   495000.   612000.    36000.   139500.   133650.   427500.
  261000.   231750.    90900.    45900.   119250.    58500.   328500.
  787500.   594000.   119700.    69372.    37800.   387000.   207000.
  189000.   333000.   105750.   382500.   141750.    40500.   405000.
   44550.   301500.   351000.   175500.   121900.5  238500.    33750.
  116100.   297000.   630000.   418500.    83250.   173250.   274500.
  115200.    56250.    95850.   185400.   810000.   184500.   165600.
  114750.    47250.    49500.    69750. ]
Unique values for column 'Type_Income': ['Pensioner' 'Commercial associate' 'Working' 'State servant']
Unique values for column 'EDUCATION': ['Higher education' 'Secondary / secondary special' 'Lower secondary'
 'Incomplete higher' 'Academic degree']
Unique values for column 'Marital_status': ['Married' 'Single / not married' 'Civil marriage' 'Separated' 'Widow']
Unique values for column 'Housing_type': ['House / apartment' 'With parents' 'Rented apartment'
 'Municipal apartment' 'Co-op apartment' 'Office apartment']
Unique values for column 'Birthday_count': [-18772. -13557.     nan ... -10229. -15292. -16601.]
Unique values for column 'Employed_days': [365243   -586   -678  -1002   -913   -248  -2470  -1644  -4327  -1674
  -1086   -925   -854   -185  -3350   -691  -4770  -2394   -384  -3647
  -1546   -808  -1285   -855  -7369  -2269  -4114  -1161  -7288   -166
   -866   -564  -3366  -2150  -1458  -8369   -508  -1567   -137  -3974
  -1570  -2878   -140  -2576  -1905  -1724  -1328  -4987  -3496  -1394
  -1265  -2531  -2105   -860   -217   -535  -6866   -584  -2227  -8161
   -613   -606  -6944   -346  -1808  -3420   -863  -7413  -7553  -3931
  -1039   -134   -622  -1595  -1626  -1868   -555  -1935   -931   -900
  -4305   -499  -2418   -189  -1132  -1770   -919  -1081   -502  -2420
  -1325  -6367  -2484   -341  -9422  -3054  -2987  -2128   -820   -141
  -1692  -4686   -693   -567   -885  -2769  -1547  -3179  -5204  -3072
   -320  -2469   -583   -834  -1085  -1399  -7310  -1748  -2479   -875
  -2805  -2477  -1477  -1782   -431  -1416   -263  -2349   -412  -7068
  -1787  -1345  -3717  -1048  -2667  -2606  -2135  -1534  -2311  -1323
  -5061  -2213  -2152  -4509  -1552  -1569  -1679  -8684  -6337    -97
  -1222   -531  -7591  -5639  -1776  -5498  -5880   -460  -4532  -3309
  -3873   -344  -1923   -604  -1922  -1496   -708 -12332  -5209  -6273
  -2722  -9363   -746  -1322  -3458   -158  -2457  -2811  -7018  -2026
   -188  -2967  -3166  -5107  -1649  -3694  -3697  -4596  -5674  -1682
   -196   -530  -1696  -2168 -13382  -1509  -1347  -1405   -227  -9975
  -1505  -5084  -2905   -356  -1719  -3680   -962  -3000  -4275   -110
  -2078  -8377  -4392   -126  -7640  -3153   -139  -4023  -4888 -14887
  -3319  -1966   -200  -6123   -117  -2625  -1763  -3689  -3414  -2910
  -3412  -1107  -8036  -3608   -101  -3231   -203  -1589  -3577   -735
  -8737  -1617  -1591   -979   -422   -655  -3653  -1261  -7346  -5545
  -3810  -1190  -3246  -7676  -1353  -3715  -1113   -992  -2289 -12621
  -3643   -869  -2174  -5336  -3535  -4407   -453   -960  -4711  -1965
  -2543  -1393  -2234  -1631  -1619  -5981  -2682  -3443  -2330   -413
  -6645   -505   -201  -3273  -1462  -2609   -521  -1321  -2467   -716
  -1632   -614  -1904   -351  -7260   -626  -6853   -458  -1628  -6094
   -734   -657  -2700   -880   -157   -135  -1497  -1266   -515  -1023
  -2129   -575  -3262   -430  -2207  -1866  -4568   -309   -578  -6908
  -1931  -8033  -2257  -3776  -4583  -4404   -727  -3805  -2316  -1455
  -5422   -581   -893  -1860  -6317  -1000  -4766  -2259  -1344  -4690
  -8290  -2052  -5004   -923  -1193   -793  -5453    -88  -5495   -593
  -4816  -1586  -2104  -1032  -9698  -1131  -1175  -8375  -2199  -1912
   -926  -2499  -2654  -1174   -230  -2276  -2197  -2468 -11448   -932
  -2956   -619  -3787  -1253  -3242   -298   -124  -4082  -1431  -5330
  -1017  -1128  -3088  -1466  -1689  -3003  -4039   -588   -282  -4491
  -1155  -1220  -1203   -712  -2844  -4031  -3322  -6693  -2760  -2532
  -1646 -11542  -5408  -1374  -3092  -2993  -2379  -1281  -7804  -3002
   -825  -2057  -1611   -652  -2537  -2331  -4710  -1191  -1162  -3900
   -219   -223  -3034  -3329   -235  -3503  -1324  -3112  -2959   -234
   -719  -2616  -4410  -1587  -1537  -1430  -1928  -2753   -867  -2134
  -3232    -95  -3690  -9870  -4979  -3396   -461  -5206  -3173   -732
   -432  -2102  -6583   -156  -5460  -2506  -3397  -3792  -3230  -2464
  -3334  -3110  -2966  -2728  -4161  -7494  -4280  -5891  -1350   -609
  -2381  -1613  -3533  -6218  -2874  -1654  -2433  -4534   -522   -798
  -2620   -145   -663  -2299  -1812  -2589   -130  -5056   -796  -7341
  -1130  -5436  -2368  -1889  -1315  -1678  -2939  -1616  -8405  -3476
  -3453  -3769  -1359  -2990  -2321  -4267  -1386   -645   -886  -1823
  -4965  -3716  -1557  -3761  -1981   -102   -288  -2147  -3929   -424
  -1069  -2323  -3332   -553   -375  -6352  -1056  -1172  -4663  -5587
  -1406  -8966  -6860  -1463   -561  -3661  -6764 -10600  -3999  -3960
  -2065  -1205  -1135  -5190  -3720  -2633  -3272  -2500  -6033   -170
   -278  -3062  -8157  -2653  -1953  -5457  -1997  -3435  -1504  -2696
 -13735   -132  -6621  -2481  -2818 -11906  -1077  -9258  -2277  -2422
   -826  -2969  -2086  -1070  -8172   -701  -1384  -9447  -1160  -1952
  -1354   -469   -563  -1526  -2092  -1749   -168  -4029  -4967  -3282
   -339  -7979  -9683   -577  -2622   -976  -1994  -1563  -4523   -340
  -6614  -1639  -3392  -3261  -3928  -5082  -3630  -3591  -1199  -4304
  -2514  -2187  -7140    -96  -5176  -6761  -2356  -2908  -3333  -3596
  -4606  -4030  -5246  -2906  -1915  -1267  -1256  -1721  -2317  -1518
   -864  -7364  -1101  -2231  -1327   -355  -1934  -5179  -2326   -980
  -1224  -7048  -2266    -73  -2661   -286  -8044   -523   -978   -795
  -2351  -1114  -3760  -5145  -4119  -3641   -481  -4603   -888   -393
  -1007 -10688  -2228  -8479  -2180  -1362  -1876  -2265 -11389  -4146
  -5500  -5521   -658  -3695   -901  -1751  -3663  -3149  -1375   -183
   -500   -489  -2450  -1539  -1556  -7095   -674  -2605  -1999  -4599
  -6488  -1054   -745  -3505  -1585  -6904  -2530  -1420   -314  -2441
 -11884  -4520  -3289  -1495  -3504  -3093  -2417  -2554   -818  -9359
  -1508 -10364  -4331  -2296  -2142  -3163  -3961  -2896  -1185  -1670
  -3670  -1202  -4936   -596  -6648   -747  -1741  -1615  -1444  -2089
   -397  -2592  -1618  -2822  -1600  -2558   -991  -2758  -2988  -2904
  -3377  -3902  -3202   -671   -848   -552  -2559  -2361  -3854  -1182
  -2384  -8230  -2493  -2362  -4034  -2143  -2393  -2565   -450  -5496
  -2319   -191  -3506  -2865  -2339  -2072  -7013  -3008  -2932   -565
  -1282  -3154  -1225  -2333  -1869 -11940  -3515  -3291   -407   -444
   -226   -279  -1661   -896   -670  -2533  -7400  -3339  -1259   -265
  -1870  -2540  -2978   -187   -477  -1436  -1978  -1133  -2985 -10758
  -4288    -89  -6930  -1807  -3143  -3850  -4560   -785  -3570   -777
 -11451   -742  -5950   -464   -385  -2475  -2051  -3607  -2454  -7614
  -2796   -642  -4004  -4917  -5622   -313  -1753  -5830  -1677  -3078
  -3061   -625  -1381   -308  -5437   -218  -3195  -1198  -1473  -5483
   -704 -12870  -5373  -7128  -2255  -5345  -3574   -164  -6226  -6678
  -2024   -890  -6075  -1774   -686  -3229  -3455  -5454 -13010  -5507
  -6640  -5488   -221   -127  -8760  -7718  -3123  -1652  -6879  -2673
   -420  -1072  -5760  -1871  -1707  -1962  -1598  -1583  -7264   -536
  -1313  -2512  -5673  -3380  -3944  -3654   -171  -1801  -1138  -1897
  -2980  -1581  -6558  -4434   -210  -3032  -2389  -1467   -377 -10762
  -2788  -3668  -2340  -9925   -918  -4219   -194  -3010   -370   -232
   -285  -1830  -3853  -2866  -1022  -2423  -2545  -6230   -104  -2631
   -367   -857  -4887   -433   -803  -3361  -1520  -5155  -5006  -2191
  -1064   -828  -4874  -1217  -7557  -5334   -611  -5215   -438   -958
  -3095  -2827  -3693  -2262   -195   -109  -5862  -1200  -1891  -4662
  -2924  -1648  -3536  -2182  -1209  -2859]
Unique values for column 'Mobile_phone': [1]
Unique values for column 'Work_Phone': [0 1]
Unique values for column 'Phone': [0 1]
Unique values for column 'EMAIL_ID': [0 1]
Unique values for column 'Type_Occupation': [nan 'Core staff' 'Cooking staff' 'Laborers' 'Sales staff' 'Accountants'
 'High skill tech staff' 'Managers' 'Cleaning staff' 'Drivers'
 'Low-skill Laborers' 'IT staff' 'Waiters/barmen staff' 'Security staff'
 'Medicine staff' 'Private service staff' 'HR staff' 'Secretaries'
 'Realty agents']
Unique values for column 'Family_Members': [ 2  3  1  4  6  5 15]
Unique values for column 'Ind_ID': [5008827 5009744 5009746 ... 5115992 5118219 5053790]
Unique values for column 'GENDER': ['M' 'F' nan]
Unique values for column 'Car_Owner': ['Y' 'N']
Unique values for column 'Propert_Owner': ['Y' 'N']
Unique values for column 'CHILDREN': [ 0  1  2  4  3 14]
Unique values for column 'Annual_income': [ 180000.   315000.        nan  450000.    90000.   472500.   270000.
  126000.   202500.   157500.   112500.   540000.   292500.   135000.
   76500.   215100.   225000.    67500.   171000.   103500.    99000.
  391500.    65250.    72900.   360000.   256500.   675000.   247500.
   85500.   121500.   130500.   211500.    81000.    72000.   148500.
  162000.   195750.   585000.   216000.   306000.   108000.    63000.
   45000.   337500.   131400.   117000.   445500.   234000.  1575000.
  144000.    67050.    73350.   193500.   900000.    94500.   198000.
   54000.   166500.   167400.   153000.   423000.   243000.   283500.
  252000.   495000.   612000.    36000.   139500.   133650.   427500.
  261000.   231750.    90900.    45900.   119250.    58500.   328500.
  787500.   594000.   119700.    69372.    37800.   387000.   207000.
  189000.   333000.   105750.   382500.   141750.    40500.   405000.
   44550.   301500.   351000.   175500.   121900.5  238500.    33750.
  116100.   297000.   630000.   418500.    83250.   173250.   274500.
  115200.    56250.    95850.   185400.   810000.   184500.   165600.
  114750.    47250.    49500.    69750. ]
Unique values for column 'Type_Income': ['Pensioner' 'Commercial associate' 'Working' 'State servant']
Unique values for column 'EDUCATION': ['Higher education' 'Secondary / secondary special' 'Lower secondary'
 'Incomplete higher' 'Academic degree']
Unique values for column 'Marital_status': ['Married' 'Single / not married' 'Civil marriage' 'Separated' 'Widow']
Unique values for column 'Housing_type': ['House / apartment' 'With parents' 'Rented apartment'
 'Municipal apartment' 'Co-op apartment' 'Office apartment']
Unique values for column 'Birthday_count': [-18772. -13557.     nan ... -10229. -15292. -16601.]
Unique values for column 'Employed_days': [365243   -586   -678  -1002   -913   -248  -2470  -1644  -4327  -1674
  -1086   -925   -854   -185  -3350   -691  -4770  -2394   -384  -3647
  -1546   -808  -1285   -855  -7369  -2269  -4114  -1161  -7288   -166
   -866   -564  -3366  -2150  -1458  -8369   -508  -1567   -137  -3974
  -1570  -2878   -140  -2576  -1905  -1724  -1328  -4987  -3496  -1394
  -1265  -2531  -2105   -860   -217   -535  -6866   -584  -2227  -8161
   -613   -606  -6944   -346  -1808  -3420   -863  -7413  -7553  -3931
  -1039   -134   -622  -1595  -1626  -1868   -555  -1935   -931   -900
  -4305   -499  -2418   -189  -1132  -1770   -919  -1081   -502  -2420
  -1325  -6367  -2484   -341  -9422  -3054  -2987  -2128   -820   -141
  -1692  -4686   -693   -567   -885  -2769  -1547  -3179  -5204  -3072
   -320  -2469   -583   -834  -1085  -1399  -7310  -1748  -2479   -875
  -2805  -2477  -1477  -1782   -431  -1416   -263  -2349   -412  -7068
  -1787  -1345  -3717  -1048  -2667  -2606  -2135  -1534  -2311  -1323
  -5061  -2213  -2152  -4509  -1552  -1569  -1679  -8684  -6337    -97
  -1222   -531  -7591  -5639  -1776  -5498  -5880   -460  -4532  -3309
  -3873   -344  -1923   -604  -1922  -1496   -708 -12332  -5209  -6273
  -2722  -9363   -746  -1322  -3458   -158  -2457  -2811  -7018  -2026
   -188  -2967  -3166  -5107  -1649  -3694  -3697  -4596  -5674  -1682
   -196   -530  -1696  -2168 -13382  -1509  -1347  -1405   -227  -9975
  -1505  -5084  -2905   -356  -1719  -3680   -962  -3000  -4275   -110
  -2078  -8377  -4392   -126  -7640  -3153   -139  -4023  -4888 -14887
  -3319  -1966   -200  -6123   -117  -2625  -1763  -3689  -3414  -2910
  -3412  -1107  -8036  -3608   -101  -3231   -203  -1589  -3577   -735
  -8737  -1617  -1591   -979   -422   -655  -3653  -1261  -7346  -5545
  -3810  -1190  -3246  -7676  -1353  -3715  -1113   -992  -2289 -12621
  -3643   -869  -2174  -5336  -3535  -4407   -453   -960  -4711  -1965
  -2543  -1393  -2234  -1631  -1619  -5981  -2682  -3443  -2330   -413
  -6645   -505   -201  -3273  -1462  -2609   -521  -1321  -2467   -716
  -1632   -614  -1904   -351  -7260   -626  -6853   -458  -1628  -6094
   -734   -657  -2700   -880   -157   -135  -1497  -1266   -515  -1023
  -2129   -575  -3262   -430  -2207  -1866  -4568   -309   -578  -6908
  -1931  -8033  -2257  -3776  -4583  -4404   -727  -3805  -2316  -1455
  -5422   -581   -893  -1860  -6317  -1000  -4766  -2259  -1344  -4690
  -8290  -2052  -5004   -923  -1193   -793  -5453    -88  -5495   -593
  -4816  -1586  -2104  -1032  -9698  -1131  -1175  -8375  -2199  -1912
   -926  -2499  -2654  -1174   -230  -2276  -2197  -2468 -11448   -932
  -2956   -619  -3787  -1253  -3242   -298   -124  -4082  -1431  -5330
  -1017  -1128  -3088  -1466  -1689  -3003  -4039   -588   -282  -4491
  -1155  -1220  -1203   -712  -2844  -4031  -3322  -6693  -2760  -2532
  -1646 -11542  -5408  -1374  -3092  -2993  -2379  -1281  -7804  -3002
   -825  -2057  -1611   -652  -2537  -2331  -4710  -1191  -1162  -3900
   -219   -223  -3034  -3329   -235  -3503  -1324  -3112  -2959   -234
   -719  -2616  -4410  -1587  -1537  -1430  -1928  -2753   -867  -2134
  -3232    -95  -3690  -9870  -4979  -3396   -461  -5206  -3173   -732
   -432  -2102  -6583   -156  -5460  -2506  -3397  -3792  -3230  -2464
  -3334  -3110  -2966  -2728  -4161  -7494  -4280  -5891  -1350   -609
  -2381  -1613  -3533  -6218  -2874  -1654  -2433  -4534   -522   -798
  -2620   -145   -663  -2299  -1812  -2589   -130  -5056   -796  -7341
  -1130  -5436  -2368  -1889  -1315  -1678  -2939  -1616  -8405  -3476
  -3453  -3769  -1359  -2990  -2321  -4267  -1386   -645   -886  -1823
  -4965  -3716  -1557  -3761  -1981   -102   -288  -2147  -3929   -424
  -1069  -2323  -3332   -553   -375  -6352  -1056  -1172  -4663  -5587
  -1406  -8966  -6860  -1463   -561  -3661  -6764 -10600  -3999  -3960
  -2065  -1205  -1135  -5190  -3720  -2633  -3272  -2500  -6033   -170
   -278  -3062  -8157  -2653  -1953  -5457  -1997  -3435  -1504  -2696
 -13735   -132  -6621  -2481  -2818 -11906  -1077  -9258  -2277  -2422
   -826  -2969  -2086  -1070  -8172   -701  -1384  -9447  -1160  -1952
  -1354   -469   -563  -1526  -2092  -1749   -168  -4029  -4967  -3282
   -339  -7979  -9683   -577  -2622   -976  -1994  -1563  -4523   -340
  -6614  -1639  -3392  -3261  -3928  -5082  -3630  -3591  -1199  -4304
  -2514  -2187  -7140    -96  -5176  -6761  -2356  -2908  -3333  -3596
  -4606  -4030  -5246  -2906  -1915  -1267  -1256  -1721  -2317  -1518
   -864  -7364  -1101  -2231  -1327   -355  -1934  -5179  -2326   -980
  -1224  -7048  -2266    -73  -2661   -286  -8044   -523   -978   -795
  -2351  -1114  -3760  -5145  -4119  -3641   -481  -4603   -888   -393
  -1007 -10688  -2228  -8479  -2180  -1362  -1876  -2265 -11389  -4146
  -5500  -5521   -658  -3695   -901  -1751  -3663  -3149  -1375   -183
   -500   -489  -2450  -1539  -1556  -7095   -674  -2605  -1999  -4599
  -6488  -1054   -745  -3505  -1585  -6904  -2530  -1420   -314  -2441
 -11884  -4520  -3289  -1495  -3504  -3093  -2417  -2554   -818  -9359
  -1508 -10364  -4331  -2296  -2142  -3163  -3961  -2896  -1185  -1670
  -3670  -1202  -4936   -596  -6648   -747  -1741  -1615  -1444  -2089
   -397  -2592  -1618  -2822  -1600  -2558   -991  -2758  -2988  -2904
  -3377  -3902  -3202   -671   -848   -552  -2559  -2361  -3854  -1182
  -2384  -8230  -2493  -2362  -4034  -2143  -2393  -2565   -450  -5496
  -2319   -191  -3506  -2865  -2339  -2072  -7013  -3008  -2932   -565
  -1282  -3154  -1225  -2333  -1869 -11940  -3515  -3291   -407   -444
   -226   -279  -1661   -896   -670  -2533  -7400  -3339  -1259   -265
  -1870  -2540  -2978   -187   -477  -1436  -1978  -1133  -2985 -10758
  -4288    -89  -6930  -1807  -3143  -3850  -4560   -785  -3570   -777
 -11451   -742  -5950   -464   -385  -2475  -2051  -3607  -2454  -7614
  -2796   -642  -4004  -4917  -5622   -313  -1753  -5830  -1677  -3078
  -3061   -625  -1381   -308  -5437   -218  -3195  -1198  -1473  -5483
   -704 -12870  -5373  -7128  -2255  -5345  -3574   -164  -6226  -6678
  -2024   -890  -6075  -1774   -686  -3229  -3455  -5454 -13010  -5507
  -6640  -5488   -221   -127  -8760  -7718  -3123  -1652  -6879  -2673
   -420  -1072  -5760  -1871  -1707  -1962  -1598  -1583  -7264   -536
  -1313  -2512  -5673  -3380  -3944  -3654   -171  -1801  -1138  -1897
  -2980  -1581  -6558  -4434   -210  -3032  -2389  -1467   -377 -10762
  -2788  -3668  -2340  -9925   -918  -4219   -194  -3010   -370   -232
   -285  -1830  -3853  -2866  -1022  -2423  -2545  -6230   -104  -2631
   -367   -857  -4887   -433   -803  -3361  -1520  -5155  -5006  -2191
  -1064   -828  -4874  -1217  -7557  -5334   -611  -5215   -438   -958
  -3095  -2827  -3693  -2262   -195   -109  -5862  -1200  -1891  -4662
  -2924  -1648  -3536  -2182  -1209  -2859]
Unique values for column 'Mobile_phone': [1]
Unique values for column 'Work_Phone': [0 1]
Unique values for column 'Phone': [0 1]
Unique values for column 'EMAIL_ID': [0 1]
Unique values for column 'Type_Occupation': [nan 'Core staff' 'Cooking staff' 'Laborers' 'Sales staff' 'Accountants'
 'High skill tech staff' 'Managers' 'Cleaning staff' 'Drivers'
 'Low-skill Laborers' 'IT staff' 'Waiters/barmen staff' 'Security staff'
 'Medicine staff' 'Private service staff' 'HR staff' 'Secretaries'
 'Realty agents']
Unique values for column 'Family_Members': [ 2  3  1  4  6  5 15]
Unique values for column 'Ind_ID': [5008827 5009744 5009746 ... 5115992 5118219 5053790]
Unique values for column 'GENDER': ['M' 'F' nan]
Unique values for column 'Car_Owner': ['Y' 'N']
Unique values for column 'Propert_Owner': ['Y' 'N']
Unique values for column 'CHILDREN': [ 0  1  2  4  3 14]
Unique values for column 'Annual_income': [ 180000.   315000.        nan  450000.    90000.   472500.   270000.
  126000.   202500.   157500.   112500.   540000.   292500.   135000.
   76500.   215100.   225000.    67500.   171000.   103500.    99000.
  391500.    65250.    72900.   360000.   256500.   675000.   247500.
   85500.   121500.   130500.   211500.    81000.    72000.   148500.
  162000.   195750.   585000.   216000.   306000.   108000.    63000.
   45000.   337500.   131400.   117000.   445500.   234000.  1575000.
  144000.    67050.    73350.   193500.   900000.    94500.   198000.

As we can see, ```["EDUCATION"]``` columns consist of both Academic Degree and Higher Education, it will add unnecesary feature when we'd perform encoding of categorical variables. We should take care of it.

In [185]:
df_transformation[["EDUCATION"]] = df_transformation[["EDUCATION"]].replace("Academic degree", "Higher Education")

Let's investigate the ```[Car_owner]``` and ```[Propert_Owner]``` columns

In [186]:
uniqVal = pd.concat([df['Car_Owner'], df['Propert_Owner'],]).unique()

print(uniqVal)

['Y' 'N']

As we can see, they are boolean columns, so we should make them boolean instead of string

In [187]:
df_transformation['Car_Owner'] = df['Car_Owner'].map({'Y': 1, 'N': 0})
df_transformation['Propert_Owner'] = df['Propert_Owner'].map({'Y': 1, 'N': 0})

Columns ```[Employed_years]``` and ```[Birthday_count]``` appear to be quite hard to read, let's change that.

In [188]:
# Convert Employed_days to years
df_transformation['Employed_years'] = df_transformation['Employed_days'] / 365

# Convert Birthday_count to years
df_transformation['Age'] = df_transformation['Birthday_count'] / -365

# Round the values to two decimal places
df_transformation['Employed_years'] = df_transformation['Employed_years'].round(2)
df_transformation['Age'] = df_transformation['Age'].round(2)

# Drop the original columns
df_transformation.drop(['Employed_days', 'Birthday_count'], axis=1, inplace=True)

Additionally, we can change ```[Age]``` column further, by rounding, so we can apply methods related to discrete mathematics and not continuous

In [189]:

# Create a new column 'Age Bracket' based on the 'Age' column
df_transformation['Age'].round(2)

1       37.14
2         NaN
3       37.14
4       37.14
5       37.14
        ...
1543    32.76
1544    28.02
1545    36.09
1546    41.90
1547    45.48
Name: Age, Length: 1547, dtype: float64

Perhaps, we only need to know if person is employed or not, regardless of the time employed

In [190]:
df_transformation['Is_Employed'] = (df_transformation['Employed_years'] < 0).astype(int)

Becuase column ```[GENDER]``` also consist of letters, I've decided to change the name of the column to ```[isMale]```, and make it binary

In [191]:
# Convert Employed_days to years
df_transformation['isMale'] = df_transformation['GENDER'].apply(lambda x: 1 if x == 'M' else 0)
df_transformation.drop(["GENDER"],axis=1,inplace=True)

In [192]:
df_transformation

,Ind_ID,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,Employed_years,Age,Is_Employed,isMale
1,5009744,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1.61,37.14,1,0
2,5009746,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1.61,NaN,1,0
3,5009749,1,0,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1.61,37.14,1,0
4,5009752,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1.61,37.14,1,0
5,5009753,1,0,0,315000.0,Pensioner,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1.61,37.14,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,5028645,0,1,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,0,0,0,Managers,2,-5.98,32.76,1,0
1544,5023655,0,0,0,225000.0,Commercial associate,Incomplete higher,Single / not married,House / apartment,1,0,0,0,Accountants,1,-3.31,28.02,1,0
1545,5115992,1,1,2,180000.0,Working,Higher education,Married,House / apartment,1,0,0,0,Managers,4,-6.79,36.09,1,1
1546,5118219,1,0,0,270000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,1,0,Drivers,2,-1.77,41.90,1,1
1547,5053790,1,1,0,225000.0,Working,Higher education,Married,House / apartment,1,0,0,0,NaN,2,-7.83,45.48,1,0

We should also make column ```Age``` discrete instead of continious.

In [193]:
df_transformation["Age"] = df_transformation["Age"].round(0)
df_transformation['Employed_years'] = df_transformation['Employed_years'].astype(int)
df_transformation

,Ind_ID,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,Employed_years,Age,Is_Employed,isMale
1,5009744,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
2,5009746,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,NaN,1,0
3,5009749,1,0,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
4,5009752,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
5,5009753,1,0,0,315000.0,Pensioner,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,5028645,0,1,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,0,0,0,Managers,2,-5,33.0,1,0
1544,5023655,0,0,0,225000.0,Commercial associate,Incomplete higher,Single / not married,House / apartment,1,0,0,0,Accountants,1,-3,28.0,1,0
1545,5115992,1,1,2,180000.0,Working,Higher education,Married,House / apartment,1,0,0,0,Managers,4,-6,36.0,1,1
1546,5118219,1,0,0,270000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,1,0,Drivers,2,-1,42.0,1,1
1547,5053790,1,1,0,225000.0,Working,Higher education,Married,House / apartment,1,0,0,0,NaN,2,-7,45.0,1,0

In [194]:
df_transformation_imputation = df_transformation.copy()
df_transformation_imputation

,Ind_ID,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,Employed_years,Age,Is_Employed,isMale
1,5009744,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
2,5009746,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,NaN,1,0
3,5009749,1,0,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
4,5009752,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
5,5009753,1,0,0,315000.0,Pensioner,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,5028645,0,1,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,0,0,0,Managers,2,-5,33.0,1,0
1544,5023655,0,0,0,225000.0,Commercial associate,Incomplete higher,Single / not married,House / apartment,1,0,0,0,Accountants,1,-3,28.0,1,0
1545,5115992,1,1,2,180000.0,Working,Higher education,Married,House / apartment,1,0,0,0,Managers,4,-6,36.0,1,1
1546,5118219,1,0,0,270000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,1,0,Drivers,2,-1,42.0,1,1
1547,5053790,1,1,0,225000.0,Working,Higher education,Married,House / apartment,1,0,0,0,NaN,2,-7,45.0,1,0

One way of managing missing values is by using imputation techniques. For now, we will use ```SimpleImputer``` from ```scikit-learn``` library.

In [195]:
# Import the SimpleImputer class
# Create an instance of SimpleImputer with the "most_frequent" strategy
imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")

# Use the imputer to fill missing values in the "Type_Occupation" column
imputer.fit(df_transformation_imputation)
df_transformation_imputation = pd.DataFrame(imputer.transform(df_transformation_imputation))
df_transformation_imputation

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,5009744,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,Laborers,2,-1,37.0,1,0
1,5009746,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,Laborers,2,-1,42.0,1,0
2,5009749,1,0,0,135000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,Laborers,2,-1,37.0,1,0
3,5009752,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,Laborers,2,-1,37.0,1,0
4,5009753,1,0,0,315000.0,Pensioner,Higher education,Married,House / apartment,1,1,1,0,Laborers,2,-1,37.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,5028645,0,1,0,135000.0,Commercial associate,Higher education,Married,House / apartment,1,0,0,0,Managers,2,-5,33.0,1,0
1543,5023655,0,0,0,225000.0,Commercial associate,Incomplete higher,Single / not married,House / apartment,1,0,0,0,Accountants,1,-3,28.0,1,0
1544,5115992,1,1,2,180000.0,Working,Higher education,Married,House / apartment,1,0,0,0,Managers,4,-6,36.0,1,1
1545,5118219,1,0,0,270000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,1,0,Drivers,2,-1,42.0,1,1
1546,5053790,1,1,0,225000.0,Working,Higher education,Married,House / apartment,1,0,0,0,Laborers,2,-7,45.0,1,0

Another way of working with missing data is just ignoring it, this will be the next approach.

In [196]:
df_transformation_ignoringNA = df_transformation.copy()
df_transformation_ignoringNA

,Ind_ID,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,Employed_years,Age,Is_Employed,isMale
1,5009744,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
2,5009746,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,NaN,1,0
3,5009749,1,0,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
4,5009752,1,0,0,315000.0,Commercial associate,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
5,5009753,1,0,0,315000.0,Pensioner,Higher education,Married,House / apartment,1,1,1,0,NaN,2,-1,37.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,5028645,0,1,0,NaN,Commercial associate,Higher education,Married,House / apartment,1,0,0,0,Managers,2,-5,33.0,1,0
1544,5023655,0,0,0,225000.0,Commercial associate,Incomplete higher,Single / not married,House / apartment,1,0,0,0,Accountants,1,-3,28.0,1,0
1545,5115992,1,1,2,180000.0,Working,Higher education,Married,House / apartment,1,0,0,0,Managers,4,-6,36.0,1,1
1546,5118219,1,0,0,270000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,1,1,1,0,Drivers,2,-1,42.0,1,1
1547,5053790,1,1,0,225000.0,Working,Higher education,Married,House / apartment,1,0,0,0,NaN,2,-7,45.0,1,0

What we should do next is changing the categorical variables into numerical, in order to do so we will use LabelEncoding (for now), so the NaN values will also be granted a label, that's one approach we will use

In [197]:
# Create a LabelEncoder object
label_encoder = LabelEncoder()

# Iterate over each column in the DataFrame
for column in df_transformation.columns:
    # Check if the column is of object type (categorical)
    if df_transformation[column].dtype == 'object':
        # Use label encoder to transform the column
        df_transformation[column] = label_encoder.fit_transform(df_transformation[column])

According to data source, non-positive value of column ```Employed Days``` indicated the years the person is working. However, it is more logical, that this column should be positive when person is working and negative when not.

In [198]:
df_transformation["Employed_years"] = df_transformation["Employed_years"] * -1

In [199]:
df_transformation

,Ind_ID,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,Employed_years,Age,Is_Employed,isMale
1,5009744,1,0,0,315000.0,0,1,1,1,1,1,1,0,18,2,1,37.0,1,0
2,5009746,1,0,0,315000.0,0,1,1,1,1,1,1,0,18,2,1,NaN,1,0
3,5009749,1,0,0,NaN,0,1,1,1,1,1,1,0,18,2,1,37.0,1,0
4,5009752,1,0,0,315000.0,0,1,1,1,1,1,1,0,18,2,1,37.0,1,0
5,5009753,1,0,0,315000.0,1,1,1,1,1,1,1,0,18,2,1,37.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,5028645,0,1,0,NaN,0,1,1,1,1,0,0,0,10,2,5,33.0,1,0
1544,5023655,0,0,0,225000.0,0,2,3,1,1,0,0,0,0,1,3,28.0,1,0
1545,5115992,1,1,2,180000.0,3,1,1,1,1,0,0,0,10,4,6,36.0,1,1
1546,5118219,1,0,0,270000.0,3,4,0,1,1,1,1,0,4,2,1,42.0,1,1
1547,5053790,1,1,0,225000.0,3,1,1,1,1,0,0,0,18,2,7,45.0,1,0

### Hypothesis testing

Now we can proceed with some hypothesis testing or other statistical test in order to find out something more.

Shapiro-Wilk Test

In [200]:
for column in df_transformation.select_dtypes(include=np.number).columns:
    stat, p = shapiro(df_transformation[column])
    print('Column:', column)
    print('Test Statistic:', stat)
    if(p > 0.05):
        print('Probably Gaussian')
    else:
        print('Probably not Gaussian')

Column: Ind_ID
Test Statistic: 0.9490448356105866
Probably not Gaussian
Column: Car_Owner
Test Statistic: 0.6226974818552935
Probably not Gaussian
Column: Propert_Owner
Test Statistic: 0.6019987030301852
Probably not Gaussian
Column: CHILDREN
Test Statistic: 0.5506461588590481
Probably not Gaussian
Column: Annual_income
Test Statistic: nan
Probably not Gaussian
Column: Type_Income
Test Statistic: 0.742107350724974
Probably not Gaussian
Column: EDUCATION
Test Statistic: 0.6185074818915145
Probably not Gaussian
Column: Marital_status
Test Statistic: 0.7105914736188281
Probably not Gaussian
Column: Housing_type
Test Statistic: 0.33994336455900376
Probably not Gaussian
Column: Mobile_phone
Test Statistic: 1.0
Probably Gaussian
Column: Work_Phone
Test Statistic: 0.4986439868343323
Probably not Gaussian
Column: Phone
Test Statistic: 0.581621744266775
Probably not Gaussian
Column: EMAIL_ID
Test Statistic: 0.3269528126775406
Probably not Gaussian
Column: Type_Occupation
Test Statistic: 0.8802012814242736
Probably not Gaussian
Column: Family_Members
Test Statistic: 0.7888097519864266
Probably not Gaussian
Column: Employed_years
Test Statistic: 0.46603245617284406
Probably not Gaussian
Column: Age
Test Statistic: nan
Probably not Gaussian
Column: Is_Employed
Test Statistic: 0.45123842553796834
Probably not Gaussian
Column: isMale
Test Statistic: 0.610165222758321
Probably not Gaussian

/var/data/python/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:531: UserWarning: scipy.stats.shapiro: Input data has range zero. The results may not be accurate.
  res = hypotest_fun_out(*samples, **kwds)

In [201]:
df_transformation.dropna(inplace = True)

In [202]:
df_transformation.isna().sum()

Ind_ID             0
Car_Owner          0
Propert_Owner      0
CHILDREN           0
Annual_income      0
Type_Income        0
EDUCATION          0
Marital_status     0
Housing_type       0
Mobile_phone       0
Work_Phone         0
Phone              0
EMAIL_ID           0
Type_Occupation    0
Family_Members     0
Employed_years     0
Age                0
Is_Employed        0
isMale             0
dtype: int64

### EDA using visualizations

### MODEL 1 - HistGradientBoosting

In [208]:
df_with_labels = pd.merge(df_transformation_imputation, labels, on='Ind_ID', how='left')
df_with_labels

KeyError: 'Ind_ID'

In [209]:
X = df_with_labels.drop("label",axis = 1)
X

NameError: name 'df_with_labels' is not defined

In [ ]:
y = df_with_labels['label']
y

:

In [ ]:
model1_ignored_na = HistGradientBoostingClassifier()
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

model1_ignored_na.fit(X_train,y_train)

:

In [ ]:
model1_ignored_na.score(X_test,y_test)

:

In [ ]:
y_pred = model1_ignored_na.predict(X_test)

:

In [ ]:
report_raw = classification_report(y_test, y_pred)
report_table_raw = pd.DataFrame([x.split() for x in report_raw.split('\n')[2:-5]], columns=['class', 'precision', 'recall', 'f1-score', 'support'])
print(report_table_raw)

:

In [ ]:
model1_ignored_na_PARAMS = {
    "learning_rate": [0.1, 0.01, 0.001],
    "max_iter": [100, 200, 300],
    "max_leaf_nodes": [31, 41, 51],
    "min_samples_leaf": [20, 30, 40]
}

:

In [ ]:
model1_ignored_na_grid = GridSearchCV(model1_ignored_na, model1_ignored_na_PARAMS, cv=5, n_jobs=-1)
model1_ignored_na_grid.fit(X_train, y_train)
model1_ignored_na_grid.best_params_

:

In [ ]:
model1_ignored_na_grid.score(X_test, y_test)
report_GSCV = classification_report(y_test, model1_ignored_na_grid.predict(X_test))
report_table_GSCV = pd.DataFrame([x.split() for x in report_GSCV.split('\n')[2:-5]], columns=['class', 'precision', 'recall', 'f1-score', 'support'])
print(report_GSCV)

:

In [ ]:
print(model1_ignored_na_grid.score(X_test, y_test))

: